# Pastas de arquivos base
__pycache__/
*.py[cod]
.venv/
.env
.DS_Store

# Pastas de rascunhos e temporários
temp-codes/
log-chats/

# Arquivos de sistema/IDE
.private/
.private/credentials/
.private/office_pirate/
